{% extends "base.html" %}

{% block content %}

<div id="content" class="content content-impressum">
    <h1 class="g-h1">Impressum &amp; Disclaimer</h1>
        <p class="g-p">Informationen gemäß § 5 Telemediengesetz und § 18 Abs. 2 Medienstaatsvertrag (MStV)</p>
        <p class="g-p">Die Ludwig-Maximilians-Universität München ist eine Körperschaft des öffentlichen Rechts. Sie wird durch den Präsidenten Prof. Dr. Bernd Huber gesetzlich vertreten.</p>
    <h2 class="g-h2">Anschrift</h2>
                <div class="user-html impressum-anschrift">
                    <p class="g-p">
                        <span itemtype="http://schema.org/Organization" itemprop="name">Ludwig-Maximilians-Universit&auml;t M&uuml;nchen<br><span itemprop="streetAddress">Geschwister-Scholl-Platz 1</span><br> <span itemprop="postalCode">80539</span> <span itemprop="addressLocality">M&uuml;nchen</span>
                    </br>
                        Telefon: <span itemprop="telephone">+49 (0) 89 / 2180 - 0<br><span itemprop="telephone"><span itemprop="telephone">Kontakt: <a class="g-link-mail" href="mailto:Poststelle@Verwaltung.Uni-Muenchen.de" title="E-Mail senden an: Poststelle@Verwaltung.Uni-Muenchen.de">Poststelle@Verwaltung.Uni-Muenchen.de</a></span></span></span></p>
                </div>
    <h2 class="g-h2">Hinweise zur verschlüsselten Kommunikation</h2>
                <div class="user-html impressum-verschluesselung">
                    <p>F&uuml;r den Fall, dass Sie eine verschl&uuml;sselte Nachricht an uns senden wollen, benutzen Sie bitte das &ouml;ffentliche S/MIME (X509-) Zertifikat f&uuml;r die Verschl&uuml;sselung Ihrer Nachricht.</p>
                </div>
    <h2 class="g-h2">Zuständige Aufsichtsbehörde</h2>
                <div class="user-html impressum-aufsichtsbehoerde">
                    <p>Bayerisches Staatsministerium f&uuml;r Wissenschaft und Kunst<br>Salvatorstra&szlig;e 2<br>80327 M&uuml;nchen<br>Webauftritt: <a href="https://www.km.bayern.de/index_wm.html" target="_blank">https://www.km.bayern.de/index_wm.html</a></p>
                </div>
    <h2 class="g-h2">Umsatzsteuer-Identifikationsnummer der LMU</h2>
                <div class="user-html impressum-ust-id">
                    <p>Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect; 27 a Umsatzsteuergesetz: DE811205325</p>
                </div>
    <h2 class="g-h2">Inhaltlich verantwortlich gemäß § 18 Abs. 2 MStV</h2>
    <p >Ludwig-Maximilians-Universität München</br>
       Lehrstuhl Bioinformatik</br>
        Prof. Dr. Ralf Zimmer</br>
        Amalienstr. 17</br>
            80333 München</br>
        E-Mail: <a href="mailto:webmaster@bio.ifi.lmu.de">webmaster@bio.ifi.lmu.de</a>
    </p>
    <h2 class="g-h2">Verantwortlich für die technische Umsetzung</h2>
    <!-- Zentral Verantwortlicher Techn. Umsetzung -->
            <div class="user-html impressum-verantwortlich-technisch">
                <p>F&uuml;r die technische Realisierung sind die Webmaster der Einrichtungen verantwortlich. Die technische Realisierung erfolgt mit dem Content Management System Fiona der <a href="https://infopark.com/" target="_blank">Infopark AG</a>.</p>
            </div>
    <h2 class="g-h2">Freistellungserklärung</h2>
                <div class="user-html impressum-freistellungserklaerung">
                    <p>Die Angaben wurden nach bestem Wissen erstellt, Fehler k&ouml;nnen jedoch nicht mit letzter Sicherheit ausgeschlossen werden. Rechtlich verbindlich sind ausschlie&szlig;lich die Festlegungen in den einschl&auml;gigen Rechtsgrundlagen (Gesetze, Verordnungen, Satzungen).</p>
<p>Eine Gew&auml;hr f&uuml;r die jederzeitige Aktualit&auml;t, Richtigkeit, Vollst&auml;ndigkeit und Verf&uuml;gbarkeit der bereitgestellten Informationen k&ouml;nnen wir nicht &uuml;bernehmen.</p>
<p>Wir haften nicht f&uuml;r Sch&auml;den, die durch die Nutzung dieses Internetangebots entstehen. Dieser Haftungsausschluss gilt nicht, soweit die Vorschriften des &sect; 839 BGB (Haftung bei Amtspflichtverletzung) einschl&auml;gig sind. F&uuml;r etwaige Sch&auml;den, die beim Aufrufen oder Herunterladen von Daten durch Schadsoftware oder der Installation oder Nutzung von Software verursacht werden, wird nicht gehaftet.</p>
<p>Der Haftungsausschluss gilt nicht f&uuml;r Informationen, die in den Anwendungsbereich der Verordnung (EU) 2016/679 des Europ&auml;ischen Parlaments und des Rates vom 27. April 2016 (Datenschutz-Grundverordnung) fallen. F&uuml;r diese Informationen wird die Richtigkeit und Aktualit&auml;t gew&auml;hrleistet.</p>
                </div>
    <h2 class="g-h2">Disclaimer</h2>
                <div class="user-html impressum-disclaimer">
                    <p>Im Informationsangebot der LMU befinden sich Querverweise ("Links") zu anderen Internetangeboten der LMU oder externer Dritter. Die Internetseiten &ouml;ffnen sich grunds&auml;tzlich in einem neuen Fenster automatisch.</p>
<p>Durch den Querverweis vermittelt die LMU den Zugang zur Nutzung dieser Inhalte (&sect; 8 Telemediengesetz). F&uuml;r diese "fremden" Inhalte ist sie nicht verantwortlich, da sie die &Uuml;bermittlung der Information nicht veranlasst, den Adressaten der &uuml;bermittelten Informationen nicht ausw&auml;hlt und die &uuml;bermittelten Informationen auch nicht ausgew&auml;hlt oder ver&auml;ndert hat.</p>
<p>Auch eine automatische kurzzeitige Zwischenspeicherung dieser "fremden Informationen" erfolgt wegen der gew&auml;hlten Aufruf- und Verlinkungsmethodik durch die LMU nicht, so dass sich auch dadurch keine Verantwortlichkeit der LMU f&uuml;r diese fremden Inhalte ergibt.</p>
<p>Bei der erstmaligen Verkn&uuml;pfung mit diesen Internetangeboten hat die LMU den fremden Inhalt jedoch daraufhin &uuml;berpr&uuml;ft, ob durch ihn eine m&ouml;gliche zivilrechtliche oder strafrechtliche Verantwortung ausgel&ouml;st wird. Wir erhalten aber keine automatischen Informationen &uuml;ber Ver&auml;nderungen der fremden Internetangebote und k&ouml;nnen deren Inhalte auch nicht st&auml;ndig auf Ver&auml;nderungen &uuml;berpr&uuml;fen. Deshalb k&ouml;nnen wir auch keine Verantwortung f&uuml;r diese &uuml;bernehmen. F&uuml;r illegale, fehlerhafte oder unvollst&auml;ndige Inhalte und insbesondere f&uuml;r Sch&auml;den, die aus der Nutzung oder Nichtnutzung von Informationen Dritter entstehen, haftet allein der jeweilige Anbieter des fremden Internetangebotes. Wir bem&uuml;hen uns jedoch, die eingebundenen Verlinkungen regelm&auml;&szlig;ig bez&uuml;glich der genannten Kriterien zu pr&uuml;fen.</p>
                </div>
</div>

{% endblock %}
